VITE_SUBMIT_URL=https://script.google.com/macros/s/AKfycbw29TxNEwm0ATk9DxeXcbj9eyHEY58tHexqZm3r_Sp94gkaWe6sK7G5zjXS8RQ3qGaqCQ/exec
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbw29TxNEwm0ATk9DxeXcbj9eyHEY58tHexqZm3r_Sp94gkaWe6sK7G5zjXS8RQ3qGaqCQ/exec
